/* AXES */
/* ticks */
.axis line {
  stroke: #706f6f;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
  stroke: #706f6f;
  stroke-width: 0.7;
  shape-rendering: crispEdges;
}

/* axis text */
.axis text {
  fill: #2b2929;
  font-family: Georgia;
  font-size: 120%;
}

/* LINE CHART */
path {
  fill: none;
  stroke: #ed3700;
}

.serie_label {
  fill: #2b2929;
  font-family: Georgia;
  font-size: 60%;
}

path.line-0 {
  fill: none;
  stroke: #ff8c00;
}

path.line-1 {
  fill: none;
  stroke: #2b2929;
  stroke-dasharray: 2;
}

path.line-2 {
  fill: none;
  stroke: #1e3f5a;
  stroke-dasharray: 6;
}

.line {
  stroke: blue;
  fill: none;
  stroke-width: 3;
}
*/ .axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 10px;
  font-family: sans-serif;
}

.text-label {
  font-size: 10px;
  font-family: sans-serif;
}

.title {
  padding: 50;
  font-family: sans-serif;
  font-size: 2.5em;
}
.subtitle {
  font-family: sans-serif;
  font-size: 1.5em;
}
